@-moz-document domain("letterboxd.com") {
  .videostore-feature,    /* letterboxd movie rental advertisement */
  .banner.banner-950,     /* letterboxd pro banner */ 
  .featured-video-section /* letterboxd movie ads */ {
    display: none;
}
