@-moz-document domain("letterboxd.com") {
  .videostore-feature,    /* letterboxd movie rental advertisement */
  .banner.banner-950,     /* letterboxd pro banner */ 
  .featured-video-section /* letterboxd movie ads */ {
    display: none;
}

@-mox-document domain("discord.com") {
  .button__74017.button__24af7 {
    display:none;
  }
}
